<!DOCTYPE html>
<html lang="uk">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        {% block title %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <a href="/" class="church-name">Церква · Львів</a>
            </div>
        </header>
        <main class="page-main">
            {% block content %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>
