{% extends "project/base.html" %}

{% block title %}Проповіді{% endblock %}

{% block content %}
<div class="container">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.3.3/css/searchPanes.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/3.0.0/css/select.dataTables.css" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.3/js/dataTables.searchPanes.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.3/js/searchPanes.dataTables.js"></script>
    <script src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/select/3.0.0/js/select.dataTables.js"></script>


    <h1>Проповіді</h1>
    <div class="table-responsive">
        <table id="sermons" class="table table-hover">
            <thead class="">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Книга</th>
                <th scope="col">Цитата</th>
                <th scope="col">Проповідник</th>
                <th scope="col">Запис</th>
                <th scope="col">Програма</th>
                <th scope="col">Текст проповіді</th>
              </tr>
            </thead>
            
            <tbody>
                {% for sermon in sermons %}
                    <tr>
                        <th>{{ forloop.counter}}</th>
                        <td>{{ sermon.date }}</td>
                        <td>{{ sermon.get_book_display }}</td>
                        <td>{{ sermon.title }} ({{ sermon.quote }})</td>
                        <td>{{ sermon.preacher }}</td>
                        <td>{% if sermon.audio %}<a href="{{ sermon.audio }}" class="link-secondary">Аудіозапис</a>{% endif %}</td>
                        <td>{% if sermon.agenda %}<a href="{{ sermon.agenda }}" class="link-secondary">Програма</a>{% endif %}</td>
                        <td>{% if sermon.text %}<a href="{{ sermon.text }}" class="link-secondary">Текст</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

new DataTable('#sermons', {
    layout: {
        top1: {
            searchPanes: {
                viewTotal: true,
                threshold: 1,

            },
            
        }
    },
    columnDefs: [
        {
            searchPanes: {
                show: false
            },
            targets: [0,1,3,5,6,7]
        }
    ]

});
</script>

{% endblock %}
